<form (ngSubmit)="registrarUsuario()">
  <div class="input-container">
    <label for="nombre">Nombre:</label>
    <input [(ngModel)]="nombre" id="nombre" name="nombre" required type="text" />
  </div>

  <div class="input-container">
    <label for="email">Email:</label>
    <input [(ngModel)]="email" id="email" name="email" required type="email" />
  </div>

  <div class="input-container">
    <label for="password">Contraseña:</label>
    <input [(ngModel)]="password" id="password" name="password" required type="password" />
  </div>

  <button type="submit">Registrarse</button>
</form>
