<header class="p-4 bg-blue-500">
  <nav>
    <ul class="flex items-center justify-end gap-4 font-medium text-white">
     
      <li *ngIf="!isAuthenticated() && isGuestLoggedIn()">
        <a (click)="logoutGuest()">Logout Invitado</a>
      </li>

     
      <li *ngIf="isAuthenticated()">
        <a (click)="logout()">Logout Usuario</a>
      </li>

      
      <li *ngIf="!isAuthenticated() && !isGuestLoggedIn()">
        <a routerLink="/guest">Ingresar como Invitado</a>
      </li>
      <li *ngIf="!isAuthenticated() && !isGuestLoggedIn()">
        <a routerLink="/register">Registro</a></li>
      <li *ngIf="!isAuthenticated() && !isGuestLoggedIn()">
        <a routerLink="/login">Login</a></li>
    </ul>
  </nav>
</header>

<main class="flex flex-col items-center justify-center p-4">
  <h1 class="text-4xl font-bold">
    Bienvenido a la Plataforma de Lista de Regalos
  </h1>
  <router-outlet></router-outlet>
</main>
